# Compiler files
cache/
out/
.gas-snapshot       # Gas reports

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/


# # === Libraries ===
# lib/                # External libraries from forge install

# Docs
docs/

# Dotenv file
.env*

# Allow committing example env templates
!.env.example
!.env.*.example




# # === Git Submodules
# .gitmodules

# === OS and Misc
.DS_Store
Thumbs.db

# === GitHub-related
.github/     
frontend_old/
